@import "../vars.css";

.textButton {
  display: block;
  height: 40px;

  background: #eeeeee;
  border: 0;
  outline: none;
  border-radius: 8px;
  padding: 0 14px 0 14px;
  margin-top: 32px;

  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.textButton:focus-visible {
  outline: #2196f3 solid 2px;
}

.textButton:active {
  background: #e4e4e4;
}
